<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsLink - Validator Link Grup WhatsApp</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
</head>
<body class="bg-gray-50 flex items-center justify-center min-h-screen">
    <div class="container mx-auto p-6 max-w-lg bg-gray-100 rounded-lg border border-gray-200">
        <h1 class="text-4xl font-semibold text-center text-green-600 mb-6">WhatsLink</h1>
        <p class="text-gray-700 text-center mb-4">Masukkan link grup WhatsApp untuk melakukan validasi dan melihat informasi grup:</p>
        <form id="linkForm" class="space-y-4">
            <input type="url" id="groupLink" placeholder="https://chat.whatsapp.com/..." class="w-full p-3 border border-gray-300 rounded focus:outline-none focus:ring-2 focus:ring-green-500" required aria-label="Masukkan link grup WhatsApp">
            <button type="submit" class="w-full bg-green-600 text-white py-3 rounded hover:bg-green-700 transition duration-300">Cek Link</button>
        </form>
        <div id="loading" class="text-center text-sm text-gray-500 mt-4 hidden">Memproses</div>
        <div id="message" class="text-center font-semibold text-lg mt-4"></div>
        <img id="groupPicture" alt="Foto Profil Grup" class="w-24 h-24 mx-auto rounded-full mt-4 hidden shadow-md">

        <div id="floatingMessage" class="hidden fixed top-16 right-8 bg-red-500 text-white p-4 rounded shadow-lg z-50" style="font-size: 0.875rem;">
            <span id="floatingMessageText"></span>
        </div>

        <footer class="text-center text-sm text-gray-500 mt-6">
            &copy; 2024 WhatsLink.
        </footer>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
